.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bg-orange{
    background-color: #fceae8;
}
.price{
    color: #FF136F;
}
.custom-buy-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, 
                                                #FF136F 100%);
    border-color: #FF589B;
}
#bg-watch{
    background-color: orange;
}
#bg-bag{
    background-color: orchid;
}
#bg-shoe{
    background-color: blue;
}
.card-btn{
    background-color: white;
    border-top: none;
}
.inlin-input{
    display: inline !important;
    width: auto !important;
}